@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.allyoga-page {
    background: linear-gradient(to bottom, #f0f7f4, #ffffff);
    height: 600px;
}

.allyoga-title-container {
    padding-top: 20px; /* Adjust the value as needed */
    text-align: center; /* Center the title within the container */
}

.allyoga-title {
    text-align: center;
    color: #009688;
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* Search bar styling */
.allyoga-search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.allyoga-search-bar {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 1em;
    outline: none;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.allyoga-search-bar:focus {
    border-color: #009688;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Gallery styling */
.allyoga-pose-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Pose card styling */
.allyoga-pose-card {
    display: flex;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 270px;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 50px;
    animation: fadeInZoom 0.5s ease-out;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.allyoga-pose-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Image container */
.allyoga-pose-image-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.allyoga-pose-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #f9d8d5;
}

/* Pose details */
.allyoga-pose-details {
    padding: 10px;
    text-align: left;
}

/* Pose name styling */
.allyoga-pose-name {
    color: #444;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

/* Pose benefit */
.allyoga-pose-benefit {
    background-color: #f1f8e9;
    color: #558b2f;
    font-size: .8em;
    padding: 6px;
    border-radius: 10px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.allyoga-pose-benefit::before {
    content: '✓ ';
    font-weight: bold;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
